.thumbWrapper {
  width: 100%;
  border-radius: 10px;
}
.cardWrapper {
  color: orange;
  border: 1px solid red;
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  gap: 10px;
}
.cardWrapper button {
  border: 1px solid orange;
  border-radius: 5px;
  padding: 5px;
  background-color: orange;
  color: black;
  cursor: pointer;
}
.cardWrapper button:hover {
  background-color: black;
  color: orange;
  border: 1px solid orange;
}
.mainCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
  padding-top: 5px;
}
