.navWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid grey;
  background-color: black;
}
.navWrapper * {
  color: orange;
}

.linkWrapper {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.logoname {
  font-weight: bold;
  margin-left: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.active {
  color: red;
}
.burgerMenu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
.navLogo {
  width: 60px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .linkWrapper {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 50%;
    background-color: orange;
  }
  .linkWrapper.show {
    display: flex;
    justify-content: start;
    height: 50vh;
  }
  .linkWrapper a {
    margin: 0;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid skyblue;
    border-radius: 5px;
    color: black;
  }
  .burgerMenu {
    display: block;
  }
}
